DATABASE_URL="postgresql://postgres:postgres@host.docker.internal:5432/seatern"
DIRECT_URL="postgresql://postgres:postgres@host.docker.internal:5432/seatern"
SUPABASE_URL="http://127.0.0.1:54321"
SUPABASE_ANON_KEY="your-anon-key"
SUPABASE_SERVICE_ROLE_KEY="your-service-role-key"
JWT_SECRET="your-jwt-secret"
